---
import type { ShikiConfig } from "astro";
import type {
	BundledLanguage,
	LanguageRegistration,
	SpecialLanguage,
} from "shiki";

import { SITE } from "@config";
import { Code } from "astro:components";
import CopyToClipboard from "./utils/CopyToClipboard.astro";

export interface CopyCodeProps {
	code?: string;
	lang: BundledLanguage | SpecialLanguage | LanguageRegistration;
	theme?: ShikiConfig["theme"];
	customClass?: string | Array<{ [key: string]: boolean | string }>;
}

const {
	code = "",
	lang,
	customClass,
	theme = SITE.shikiConfig.theme,
} = Astro.props as CopyCodeProps;
---

<div class:list={["relative py-1 px-4 m-0", customClass]}>
	<CopyToClipboard
		textToCopy={code}
		aria-label="Copy code to clipboard"
		size={10}
		rounded={true}
		class="absolute top-4 right-4"
	/>

	<Code lang={lang} theme={theme} code={code} class="rounded-none"/>
</div>
