---
import type { AstroBuiltinAttributes } from 'astro';
import type { ShikiConfig } from "astro";
import type {
	BundledLanguage,
	LanguageRegistration,
	SpecialLanguage,
} from "shiki";

import { SITE } from "@config";
import { Code } from "astro:components";
import CopyToClipboard from "./utils/CopyToClipboard.astro";

export interface Props {
	code?: string;
	lang: BundledLanguage | SpecialLanguage | LanguageRegistration;
	theme?: ShikiConfig["theme"];
	class?: string | AstroBuiltinAttributes['class:list'];}

const {
	code = "",
	lang,
	theme = SITE.shikiConfig.theme,
	class: className,
} = Astro.props;

const options = { "rounded-theme": true };
---

<div class:list={["relative py-1 px-4 m-0", className]}>
	<CopyToClipboard
		textToCopy={code}
		aria-label="Copy code to clipboard"
		size={10}
		class="absolute top-4 right-4"
	/>

	<Code lang={lang} theme={theme} code={code} class:list={options} />
</div>
