---
import PatternBackground from "@components/Astro/utils/PatternBackground.astro";
import Image from "astro/components/Image.astro";

export interface Props {
	heading: string;
	description?: string;
	image?: string;
	imageAlt?: string;
	backgroundPattern?: string;
	patternOpacity?: number;
	patternHighlightClass?:
		| "bg-theme-primary"
		| "bg-theme-secondary"
		| "bg-theme-accent"
		| "bg-theme-accent-alt";
	class?: string | Record<string, boolean | string>;
}

const {
	heading,
	description,
	image,
	imageAlt,
	backgroundPattern,
	patternOpacity,
	patternHighlightClass,
	class: className,
} = Astro.props;

const options = { "rounded-theme": true };
---

<div
	class:list={[
		"flex flex-col items-center justify-between w-full max-w-6xl mx-auto px-4 pt-14 pb-10 md:flex-row md:pt-18 md:pb-12",

	]}
>
	{
		backgroundPattern && (
			<PatternBackground
				pattern={backgroundPattern}
				patternOpacity={patternOpacity}
				patternHighlightClass={patternHighlightClass}
			/>
		)
	}
	<div class="flex flex-col items-start justify-center md:w-1/2 mb-8 md:mb-0">
		<h2
			class="font-display text-5xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-7xl text-build"
		>
			{heading}
		</h2>
		<p class="mt-4 text-xl text-theme-primary text-build">{description}</p>
	</div>

	{
		image && (
			<div class="md:w-1/2 md:pl-8">
				<div class="image-container">
					<Image
						src={image}
						alt={imageAlt ?? "Image"}
						class:list={[
							"w-full h-full object-cover image-drop-in",
							options,
						]}
						width={400}
						height={400}
					/>
				</div>
			</div>
		)
	}
</div>

<style>
	.image-container {
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		aspect-ratio: 1 / 1;
	}

	.image-drop-in {
		animation: spinAndGrow 1.25s ease-out;
		transform-origin: center;
		border-radius: 50%;
		mask-image: linear-gradient(
			to bottom,
			transparent,
			black 15%,
			black 100%
		),
		linear-gradient(
			to right,
			transparent,
			black 10%,
			black 90%,
			transparent
		);
		mask-composite: intersect;
	}

	@keyframes spinAndGrow {
		0% {
			transform: scale(0.5) rotate(-180deg);
			opacity: 0;
		}
		50% {
			transform: scale(0.8) rotate(-80deg);
			opacity: 0;
		}
		100% {
			transform: scale(1) rotate(0deg);
			opacity: 1;
		}
	}

	.text-build {
		opacity: 0;
		transform: translateY(20px);
		animation: buildIn 0.5s ease-out forwards;
	}

	h2.text-build {
		animation-delay: 0.2s;
	}

	p.text-build {
		animation-delay: 0.4s;
	}

	@keyframes buildIn {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
<!--
      <Container className="">
        <FadeIn className="max-w-3xl">
          <h1 className="font-display text-5xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-7xl">
            Award-winning development studio based in Denmark.
          </h1>
          <p className="mt-6 text-xl text-neutral-600">
            We are a development studio working at the intersection of design
            and technology. It’s a really busy intersection though — a lot of
            our staff have been involved in hit and runs.
          </p>
        </FadeIn>
      </Container> -->
