---
import Tooltip from "@components/Astro/Tooltip.astro";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Astro/Card.astro";


// export interface Props {
// 	title?: string;
// 	author?: string;
// 	profile?: string;
// 	description?: string;
// 	ogImage?: string;
// 	canonicalURL?: string;
// 	pubDatetime?: Date;
// 	modDatetime?: Date | null;
// }

// const {
// 	title,
// 	author,
// 	description,
// 	ogImage,
// 	canonicalURL,
// 	pubDatetime,
// 	modDatetime,
// } = Astro.props;

---

<Layout>
	<section class="pt-0 mt-0">
		<p>
			Nothing exciting to see here, except for the <Tooltip
				text="cool"
				neonify={true}
			/> neon effect!
		</p>


		<div class="flex flex-col justify-around md:flex-row">
			<Card
				title="card"
				description="lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt nec"
				rounded={true}
			/>
			<Card
				title="card"
				description="lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt nec"
				rounded={true}
				alt={true}
			/>
			<Card
				title="card"
				description="lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt nec"
			/>
			<Card
				title="card"
				description="lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt nec"
				alt={true}
			/>
		</div>
	</section>
</Layout>
