---
import Layout from "@layouts/Layout.astro";
import CodeCopy from "@components/Astro/CodeCopy.astro";
import Link from "@components/Astro/Link.astro";
import PageHeading from "@components/Astro/PageHeading.astro";

const code = `
---
import type { ShikiConfig } from "astro";
import type {
	BundledLanguage,
	LanguageRegistration,
	SpecialLanguage,
} from "shiki";

import { SITE } from "@config";
import { Code } from "astro:components";
import CopyToClipboard from "./utils/CopyToClipboard.astro";

export interface CopyCodeProps {
	code?: string;
	lang: BundledLanguage | SpecialLanguage | LanguageRegistration;
	customIcon?: JSX.Element;
	theme?: ShikiConfig["theme"];
	customClass?: string | Array<{ [key: string]: boolean | string }>;
}

const {
	code = "",
	lang,
	customIcon,
	customClass,
	theme = SITE.shikiConfig.theme,
} = Astro.props as CopyCodeProps;
---

<div class:list={["relative py-1 px-4 m-0", customClass]}>
	<CopyToClipboard
		textToCopy={code}
		customIcon={customIcon}
		aria-label="Copy code to clipboard"
		size={10}
		customClass="absolute top-4 right-4"
	/>
	<Code lang={lang} theme={theme} code={code} />

</div>
`;
---

<Layout title="_Typography">
	<PageHeading text="Typography Examples" />
	<section>
		<article>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
		</article>
	</section>

	<section>
		<article>
			<h2 class="mb-4">Paragraphs</h2>
			<h3 class="mb-2">Sample Paragraph</h3>
			<p class="mb-4">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna nec
				purus lacinia tincidunt nec lorem ipsum dolor sit amet.
			</p>
			<p>
				Ut urna nec purus lacinia tincidunt nec lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Sed ut urna nec purus lacinia tincidunt
				nec.
			</p>
		</article>
	</section>

	<section>
		<article class="">
			<h2 class="mb-4">Lists</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
				<span>
					<h3 class="mb-2">Unordered List</h3>
					<ul class="list-disc pl-5">
						<li>Item 1</li>
						<li>Item 2</li>
						<li>Item 3</li>
					</ul>
				</span>
				<div>
					<h3 class="mb-2">Ordered List</h3>
					<ol class="list-decimal pl-5">
						<li>Item 1</li>
						<li>Item 2</li>
						<li>Item 3</li>
					</ol>
				</div>
			</div>
		</article>
	</section>

	<section>
		<article>
			<h2 class="mb-4">Blockquotes</h2>
			<blockquote class="border-l-4 border-gray-300 pl-4 italic">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna
					nec purus lacinia tincidunt nec.
				</p>
			</blockquote>
		</article>
	</section>

	<section>
		<article>
			<h2 class="mb-4">Code</h2>
			<p class="mb-4">
				Here's an example of inline code: <code>const x = 42;</code>
			</p>
			<p>Here's an example of a code block:</p>
			<CodeCopy lang="astro" code={code} />
		</article>
	</section>

	<section>
		<article>
			<h2 class="mb-4">Links</h2>
			<div class="mb-2">
				<Link
					href="https://google.com"
					class="pr-1 block"
					text="Internal Link"
				/>
				<Link
					href="https://google.com"
					external
					class="pr-1 block"
					text="External Link"
				/>
			</div>
		</article>
	</section>
</Layout>
